# Домашнее задание по теме "Парсинг данных"
# Light

Используя ноутбук занятия сделайте парсинг базы headhunter. Добавьте в конечную базу
готовность к переезду и командировкам (2 дополнительных столбца)

##Загружаем базу

*Разбор данного раздела:* https://youtu.be/8u5kJ-z9gUA?t=2467

In [ ]:
# Для загрузки данных используем drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%matplotlib inline

import re # регулярные выражения

# Статический вывод графики (графики отображаются в той ячейке, в которой используется plt.show())
import pandas as pd # Импортируем библиотеку обработки и анализа данных pandas
import matplotlib.pyplot as plt # Импортируем модуль pyplot библиотеки matplotlib для построения графиков
import datetime # Импортируем модуль datetime для обработки данных в формете даты
import numpy as np # Импортируем библиотеку numpy
from google.colab import files # Импортируем библиотеку files для работы с файлами

In [ ]:
hh = pd.read_csv('/content/drive/My Drive/БД/hh.csv')
hh.head(20)

,Unnamed: 0,"Пол, возраст",ЗП,Ищет работу на должность:,Город,Занятость,График,Опыт (двойное нажатие для полной версии),Последенее/нынешнее место работы,Последеняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,0,"Мужчина , 42 года , родился 6 октября 1976",27 000 руб.,Старший администратор,"Липецк , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 6 лет 1 месяц\n\nСтарший администр...,Трц Ривьера,Старший администратор по сохраности активов,Среднее специальное образование 1994 Спту 26,28.04.2019 12:17,Имеется собственный автомобиль
1,1,"Мужчина , 41 год , родился 14 января 1978",60 000 руб.,Старший IT инженер,"Сочи , не готов к переезду , готов к командиро...","частичная занятость, полная занятость","гибкий график, полный день",Опыт работы 19 лет 2 месяца\n\nСтарший IT инже...,"Эскорт-Центр, Москва, ЗАО",Старший инженер сервисного центра,Высшее образование 1999 СОЧИНСКИЙ ГОС. УНИВЕР...,28.04.2019 11:44,Не указано
2,2,"Мужчина , 44 года , родился 21 февраля 1975",65 000 руб.,"Системный администратор, Системный инженер","Липецк , готов к переезду , готов к командировкам",полная занятость,"удаленная работа, полный день, вахтовый метод",Опыт работы 19 лет 9 месяцев\n\nСистемный адми...,"СПССПК ""ЭКОПТИЦА""",Системный администратор,Высшее образование 2003 Московский государств...,28.04.2019 10:36,Не указано
3,3,"Мужчина , 43 года , родился 9 февраля 1976",70 000 руб.,"Web-программист, Web-администратор, Web-мастер","Москва , м. Марьино , не готов к переезду , г...",полная занятость,"удаленная работа, гибкий график, полный день",Опыт работы 5 лет 9 месяцев\n\nWeb-программист...,"ГБУ ""МДОО""",специалист отдела интернет-проектов,Высшее образование 2002 Российский государств...,28.04.2019 10:29,Не указано
4,4,"Мужчина , 39 лет , родился 14 июня 1979",45 000 руб.,Старший системный администратор \ начальник от...,"Тула , не готов к переезду , готов к редким ко...","частичная занятость, полная занятость","полный день, сменный график",Опыт работы 13 лет 5 месяцев\n\nСтарший систем...,"ООО ""СервисСофт""",Старший системный администратор,Высшее образование 2007 Российский государств...,28.04.2019 10:15,Не указано
5,5,"Мужчина , 34 года , родился 13 июня 1984",50 000 руб.,менеджер по продажам,"Казань , м. Проспект Победы , готов к переезд...",полная занятость,"полный день, вахтовый метод",Опыт работы 12 лет 11 месяцев\n\n менеджер по ...,АН Инвест-Групп,Специалист по недвижимости,Высшее образование 2020 Казанский Строительно ...,28.04.2019 10:05,Имеется собственный автомобиль
6,6,"Женщина , 30 лет , родилась 2 сентября 1988",100 000 KZT,Оператор,"Павлодар , не готова к переезду , не готова к ...",полная занятость,полный день,Опыт работы 7 лет 10 месяцев\n\nОператор 100 0...,ИП Мелинцов,Менеджер фотосалона,Среднее специальное образование 2009 Колледж П...,28.04.2019 09:53,Не указано
7,7,"Мужчина , 40 лет , родился 17 января 1979",80 000 руб.,Руководитель проектов,"Москва , м. Новокосино , готов к переезду , г...",полная занятость,полный день,Опыт работы 16 лет 8 месяцев\n\nРуководитель п...,Ирида реклама,Руководитель проектов,Высшее образование 2001 Московский государстве...,28.04.2019 09:49,Имеется собственный автомобиль
8,8,"Женщина , 40 лет , родилась 18 мая 1978",120 000 руб.,Менеджер по работе с корпоративными клиентами,"Москва , м. Кузьминки , не готова к переезду ...",полная занятость,полный день,Опыт работы 14 лет 5 месяцев\n\nМенеджер по ра...,"МегаФон, ПАО",Менеджер по развитию и сопровождению государст...,Высшее образование 2016 Московский государств...,28.04.2019 09:48,Не указано
9,9,"Мужчина , 44 года , родился 26 сентября 1974",120 000 руб.,"IT-инженер,инженер AV-систем","Конаково , готов к переезду (Москва) , готов к...","частичная занятость, проектная работа, полная...","гибкий график, полный день, сменный график, у...","Опыт работы 21 год 4 месяца\n\nIT-инженер,инже...",PBDS (Professional & Broadcast Digital Systems...,Инженер,Высшее образование 2002 Московский Институт Ра...,28.04.2019 09:39,Имеется собственный автомобиль
10,10,"Мужчина , 33 года , родился 21 марта 1986",30 000 руб.,Системный администратор,"Ессентуки , не готов к переезду , не готов к к...",полная занятость,полный день,Опыт работы 11 лет\n\nСистемный администратор ...,"ГБУСОН ""Кавказ""",Техник-программист,Высшее образование 2014 Филиал Ростовского го...,28.04.2019 09:38,Имеется собственный автомобиль
11,11,"Мужчина , 29 лет , родился 19 июня 1989",50 000 руб.,Системный администратор,"Симферополь , не готов к переезду , готов к ре...","частичная занятость, полная занятость","удаленная работа, гибкий график, полный день,...",Опыт работы 10 лет 2 месяца\n\nСистемный админ...,Ломбард Крым Капитал,Системный администратор,Среднее специальное образование 2008 Крымский...,28.04.2019 09:37,Имеется собственный автомобиль
12,12,"Мужчина , 40 лет , родился 28 ноября 1978",100 000 руб.,Региональный менеджер по продажам,"Санкт-Петербург , не готов к переезду , не гот...",полная занятость,полный день,Опыт работы 14 лет 9 месяцев\n\nРегиональный м...,ООО Гарант Видео Сервис,Технический директор,Высшее образование 2008 Ташкентский Электротех...,28.04.2019 09:33,Не указано
13,13,"Мужчина , 42 года , родился 5 апреля 1977",40 000 руб.,Системный администратор,"Казань , м. Яшьлек (Юность) , не готов к пере...",полная занятость,полный день,Опыт работы 19 лет 3 месяца\n\nСистемный админ...,ОАО Компрессормаш,Ведущий инженер-программист,Высшее образование 2000 Казанский Государствен...,28.04.2019 09:24,Не указано
14,14,"Мужчина , 30 лет , родился 15 января 1989",120 000 руб.,Руководитель проекта/Project manager,"Москва , м. Бибирево , не готов к переезду , ...",полная занятость,полный день,Опыт работы 8 лет 1 месяц\n\nРуководитель прое...,ООО УРРАА,Руководитель проекта,Высшее образование 2011 Московский авиационны...,28.04.2019 09:17,Не указано
15,15,"Мужчина , 31 год , родился 1 сентября 1987",150 000 руб.,"HighLoad, SDS Ceph,DevOps,SRE","Киров , готов к переезду , готов к командировкам","проектная работа, частичная занятость, полная...","удаленная работа, гибкий график, полный день,...","Опыт работы 13 лет 6 месяцев\n\nHighLoad, SDS ...",Банк Хлынов,Ведущий инженер отдела системной интеграции,Высшее образование 2014 Вятский государственн...,28.04.2019 09:14,Не указано
16,16,"Мужчина , 34 года , родился 19 мая 1984",90 000 руб.,Программист Python (Junior),"Москва , готов к переезду , готов к командировкам","стажировка, частичная занятость, полная занят...","удаленная работа, гибкий график, полный день,...",Опыт работы 12 лет 8 месяцев\n\nПрограммист Py...,фл ООО Газпром ПХГ,Инженер,Высшее образование 2019 Филиал Уфимского госу...,28.04.2019 09:09,Не указано
17,17,"Мужчина , 35 лет , родился 17 декабря 1983",3 000 EUR,Data Scientist/Engineer,"Санкт-Петербург , готов к переезду , готов к к...",полная занятость,полный день,Опыт работы 10 лет 3 месяца\n\nData Scientist/...,Almazov National Medical Research Centre,Clinical data engineer,Высшее образование (Кандидат наук) 2018 ITMO U...,28.04.2019 09:09,Не указано
18,18,"Женщина , 35 лет , родилась 8 июня 1983",30 000 руб.,Специалист технической поддержки\младший Специ...,"Санкт-Петербург , м. Лесная , не готова к пер...","стажировка, полная занятость",полный день,Опыт работы 11 лет\n\nСпециалист технической п...,ЗАО ТВ-ИКС\Телекосмос,Техник-Диспетчер,Высшее образование 2018 Санкт-Петербургский г...,28.04.2019 09:08,Не указано
19,19,"Мужчина , 34 года , родился 19 ноября 1984",40 000 руб.,Оператор видеонаблюдения,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 11 лет\n\nОператор видеонаблюдения...,алм девелопмент,Испектор проверка объектов,Образование Среднее образование,28.04.2019 09:06,Не указано

In [ ]:
hh.drop(hh.columns[0], axis = 1, inplace = True)

In [ ]:
print(hh.shape)

(66945, 12)

In [ ]:
j=0
for j in range(12):
  for i in range(hh.shape[0]):
    if type(hh.values[i][j])!=float:
      hh.values[i][j] = hh.values[i][j].replace("\xa0","")
      hh.values[i][j] = hh.values[i][j].replace("\n"," ")

In [ ]:
def ParameterForSexAge(arg):
  if 'Мужчина' or 'Male' in arg:
    sex = 'М'
  elif 'Женщина' or 'Female' in arg:
    sex = 'Ж'
  else:
    sex = 'Не указано'

  cur_year = 2023
  year = 0
  if (len(arg) > 7):
    year = cur_year - int(re.findall(r'\d{4}', arg)[0])
  return sex, str(year)

def ParameterForSalary(arg):
  salString = 0
  salString = int(re.sub(r'[^0-9]*', '', arg))
  curr = re.sub(r'[0-9]*', '', arg)

  curr = curr.replace(' ', '').replace('.', '')
  if 'USD' in curr: salString = float(salString) * 84
  elif 'EUR' in curr: salString = float(salString) * 91
  elif 'грн' in curr: salString = float(salString) * 2,28
  elif 'белруб' in curr: salString = float(salString) * 28,13
  elif 'KZT' in curr: salString = float(salString) * 0,18
  elif 'KGS' in curr: salString = float(salString) * 0,96
  return salString

def ParameterForCity(arg):
  city = re.match(r'[^,]*', arg)
  city = city.group(0).replace(' ', '')

  removal = ''
  if ('не готов к переезду' in arg)| ('не готова к переезду' in arg): removal = 'Не готов(а)'
  elif ('готов к переезду' in arg)| ('готова к переезду' in arg): removal = 'Готов(a)'
  else: removal = 'Не указано'

  trip = ''
  if ('не готов к командировкам' in arg)| ('не готова к командировкам' in arg): trip = 'Не готов(а)'
  elif ('готов к командировкам' in arg)| ('готова к командировкам' in arg): trip = 'Готов(a)'
  else: trip = 'Не указано'

  return city, removal, trip

def ParameterForEmployment(arg):
  result = ''
  if ("стажировка" in arg)|("volunteer" in arg)|("work placement" in arg): result += 'стажировка '
  if ("частичная занятость" in arg)|("part" in arg): result += 'частичная занятость '
  if ("проектная работа" in arg)|("project" in arg): result += 'проектная работа '
  if ("полная занятость" in arg)|("full" in arg): result += 'полная занятость'
  if result=='':
    result='Не указано'
  return result

def ParameterForSchedule(arg):
  result = ''
  if ("гибкий график" in arg)|("flexible" in arg): result += 'гибкий график '
  if ("полный день" in arg)|("full" in arg): result += 'полный день '
  if ("сменный график" in arg)|("shift" in arg): result += 'сменный график '
  if ("удаленная работа" in arg)|("remote" in arg): result += 'удаленная работа'
  if result=='':
    result='Не указано'
  return result

def ParameterForExp(arg):
  sarg=arg.split(" ", 5)
  years = 0
  months = 0
  if len(sarg)!=6: sarg.append(0);sarg.append('');sarg.append(0);sarg.append('')
  try:
    years = int(sarg[2])
  except ValueError:
    years = 0

  try:
    months = int(sarg[4])
  except ValueError:
    months = 0
  return 12*years+months

def ParameterForEdu(arg):
  result = ''
  arg = arg.lower()
  if ("высшее" in arg)|("higher education"  in arg): result += 'высшее '
  if ("среднее специальное"  in arg) | ("special"  in arg) | ("колледж"  in arg) | ("college"  in arg) : result += 'среднее специальное '
  if ("неоконченное высшее"  in arg) | ("incomplete"  in arg): result += 'неоконченное высшее '
  if ("среднее образование"  in arg) | ("secondary education"  in arg): result += 'среднее образование'
  if result=='':
    result='Не указано'
  return result

In [ ]:
hh = hh.drop(hh.columns[[2, 7, 8, 10, 11]], axis = 1)
hh.head(1)

,"Пол, возраст",ЗП,Город,Занятость,График,Опыт (двойное нажатие для полной версии),Образование и ВУЗ
0,"Мужчина , 42года , родился 6 октября 1976",27000 руб.,"Липецк , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 6 лет 1 месяц Старший администрат...,Среднее специальное образование 1994 Спту 26

In [ ]:
funcList = [ParameterForSexAge, ParameterForSalary, ParameterForCity,
            ParameterForEmployment, ParameterForSchedule, ParameterForExp,
            ParameterForEdu]
for i in range(len(hh.columns)):
  hh[hh.columns[i]] =[ funcList[i](cell) for cell in hh[hh.columns[i]]]

In [ ]:
hh.insert(0,'Пол', np.array([hh['Пол, возраст'][i][0] for i in range(len(hh))]))          # Создаем отдельную колонку под Пол
hh.insert(1,'Возраст', np.array([int(hh['Пол, возраст'][i][1]) for i in range(len(hh))])) # Создаем отдельную колонку под Возраст
hh.drop('Пол, возраст', axis = 1, inplace = True)

In [ ]:
hh.head()

,Пол,Возраст,ЗП,Город,Занятость,График,Опыт (двойное нажатие для полной версии),Образование и ВУЗ
0,М,47,27000,"(Липецк, Не готов(а), Не готов(а))",полная занятость,полный день,73,среднее специальное
1,М,45,60000,"(Сочи, Не готов(а), Готов(a))",частичная занятость полная занятость,гибкий график полный день,230,высшее
2,М,48,65000,"(Липецк, Готов(a), Готов(a))",полная занятость,полный день удаленная работа,237,высшее
3,М,47,70000,"(Москва, Не готов(а), Не указано)",полная занятость,гибкий график полный день удаленная работа,69,высшее
4,М,44,45000,"(Тула, Не готов(а), Не указано)",частичная занятость полная занятость,полный день сменный график,161,высшее

In [ ]:
hh.insert(4,'Город проживания', np.array([hh['Город'][i][0] for i in range(len(hh))]))
hh.insert(5,'Готовность к переезду', np.array([hh['Город'][i][1] for i in range(len(hh))]))
hh.insert(6,'Готовность к командировкам', np.array([(hh['Город'][i][2]) for i in range(len(hh))]))

In [ ]:
hh.head(1)

,Пол,Возраст,ЗП,Город проживания,Готовность к переезду,Готовность к командировкам,Занятость,График,Опыт (двойное нажатие для полной версии),Образование и ВУЗ
0,М,47,27000,Липецк,Не готов(а),Не готов(а),полная занятость,полный день,73,среднее специальное

In [ ]:
hh.drop(hh.columns[3], axis = 1, inplace = True)