# Pandas часть 2. Домашнее Задание. Ultra-Pro

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/drive/My Drive/БД/data.csv', encoding = 'cp1250')
data.index = pd.to_datetime(data.InvoiceDate)

### Задача 1

Подгрузите данные 'data.csv' (возможно, придется указать кодировку encoding сp1250) в переменную data.

Создайте новый столбец TotalCost со значениями Quantity * UnitPrice. Сделайте resampling данных в еженедельные со значениями суммы по столбцам TotalCost.

**Решение:**

In [ ]:
data['TotalCost'] = data.Quantity * data.UnitPrice

In [ ]:
data.TotalCost.resample('1W').sum()

InvoiceDate
2010-12-05    181847.250
2010-12-12    270287.030
2010-12-19    207052.170
2010-12-26     89770.570
2011-01-02         0.000
2011-01-09     93720.930
2011-01-16    190994.960
2011-01-23    133782.910
2011-01-30    119136.810
2011-02-06    123642.180
2011-02-13    102296.930
2011-02-20    139664.580
2011-02-27    133069.930
2011-03-06    130435.560
2011-03-13    129180.960
2011-03-20    145262.610
2011-03-27    147909.800
2011-04-03    183501.710
2011-04-10    121598.220
2011-04-17    147459.771
2011-04-24    115461.250
2011-05-01     84382.660
2011-05-08    130354.310
2011-05-15    205445.230
2011-05-22    198031.530
2011-05-29    160569.820
2011-06-05    116932.520
2011-06-12    177916.870
2011-06-19    184016.500
2011-06-26    117086.710
2011-07-03    136287.440
2011-07-10    174659.170
2011-07-17    124163.170
2011-07-24    182513.960
2011-07-31    180814.851
2011-08-07    153176.200
2011-08-14    161417.020
2011-08-21    170724.890
2011-08-28    149603.500
2011-09-04    143819.060
2011-09-11    190513.470
2011-09-18    211722.620
2011-09-25    326156.721
2011-10-02    206858.231
2011-10-09    302466.590
2011-10-16    205734.640
2011-10-23    263762.220
2011-10-30    238642.190
2011-11-06    288266.770
2011-11-13    346560.140
2011-11-20    380407.570
2011-11-27    308185.020
2011-12-04    319874.990
2011-12-11    300605.220
Freq: W-SUN, Name: TotalCost, dtype: float64

### Задача 2

Посчитайте скользящее недельное среднее суммы ежедневных заказов. Для этого
* сделайте resampling в ежедневные данные,
* посчитайте скользящее среднее за 7 дней по столбцу TotalCost.

*Для решения второй части данной задачи потребуется самостоятельно найти способ определения скользящего среднего.*

**Решение:**

In [ ]:
data.TotalCost.resample('1D').sum().rolling(window = '7d').mean().head(20)

InvoiceDate
2010-12-01    58635.560000
2010-12-02    52421.420000
2010-12-03    50154.433333
2010-12-04    37615.825000
2010-12-05    36369.450000
2010-12-06    39284.571667
2010-12-07    40109.497143
2010-12-08    38045.822857
2010-12-09    38949.372857
2010-12-10    40632.865714
2010-12-11    40632.865714
2010-12-12    38612.432857
2010-12-13    35972.312857
2010-12-14    35655.775714
2010-12-15    33549.182857
2010-12-16    32949.500000
2010-12-17    30967.968571
2010-12-18    30967.968571
2010-12-19    29578.881429
2010-12-20    28059.225714
Freq: D, Name: TotalCost, dtype: float64

### Задача 3. GroupBy


Посчитайте общую стоимость заказов на ежемесячной основе в разбивке по странам.

**Решение:**

In [ ]:
data_1 = data.groupby(['Country']).TotalCost.resample('1M').sum()
data_1.head(20)

Country    InvoiceDate
Australia  2010-12-31      1005.10
           2011-01-31      9017.71
           2011-02-28     14627.47
           2011-03-31     17055.29
           2011-04-30       333.40
           2011-05-31     13628.51
           2011-06-30     25164.77
           2011-07-31      4767.57
           2011-08-31     22489.20
           2011-09-30      5031.73
           2011-10-31     17150.53
           2011-11-30      6805.99
Austria    2010-12-31       257.04
           2011-01-31         0.00
           2011-02-28       518.36
           2011-03-31      1708.12
           2011-04-30       680.78
           2011-05-31      1249.43
           2011-06-30       -24.20
           2011-07-31      1191.95
Name: TotalCost, dtype: float64

### Задача 4. JOIN

* Подгрузите данные, содержащие информацию о номерах карт лояльности пользователей (card_data.csv).
* Назовите ее cards.
* Сделайте Left Join исходной таблицы (которая получилась после задачи с datetime индексом) и таблицы cards.
* Если будет переполнение памяти, попробуйте взять не все значения таблицы, а, например, первые 100 с помощью соответствующего метода iloc.

**Решение:**

In [ ]:
cards = pd.read_csv('/content/drive/My Drive/БД/card_data.csv', encoding = 'cp1250')
cards = cards[:1000:50]

In [ ]:
data = pd.read_csv('/content/drive/My Drive/БД/data.csv', encoding = 'cp1250')
data.index = pd.to_datetime(data.InvoiceDate)
data.drop('InvoiceDate', axis=1, inplace=True)
data = data[:1000:50]

In [ ]:
df_merge = data.merge(cards, how ='left', on = 'CustomerID')
df_merge.head(20)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TransactionNum
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,127
1,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,416
2,536373,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,127
3,536373,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,416
4,536378,84519A,TOMATO CHARLIE+LOLA COASTER SET,6,2.95,14688.0,United Kingdom,248
5,536382,22926,IVORY GIANT GARDEN THERMOMETER,12,5.95,16098.0,United Kingdom,30
6,536389,35004C,SET OF 3 COLOURED FLYING DUCKS,6,5.45,12431.0,Australia,241
7,536392,84879,ASSORTED COLOUR BIRD ORNAMENT,16,1.69,13705.0,United Kingdom,135
8,536398,22468,BABUSHKA LIGHTS STRING OF 10,4,6.75,13448.0,United Kingdom,356
9,536401,22810,SET OF 6 T-LIGHTS SNOWMEN,1,2.95,15862.0,United Kingdom,425
10,536404,21061,PARTY INVITES FOOTBALL,12,0.85,16218.0,United Kingdom,212
11,536408,84970L,SINGLE HEART ZINC T-LIGHT HOLDER,12,0.95,14307.0,United Kingdom,361
12,536409,72802C,VANILLA SCENT CANDLE JEWELLED BOX,1,4.25,17908.0,United Kingdom,402
13,536412,22629,SPACEBOY LUNCH BOX,1,1.95,17920.0,United Kingdom,271
14,536412,22629,SPACEBOY LUNCH BOX,1,1.95,17920.0,United Kingdom,348
15,536412,22569,FELTCRAFT CUSHION BUTTERFLY,2,3.75,17920.0,United Kingdom,271
16,536412,22569,FELTCRAFT CUSHION BUTTERFLY,2,3.75,17920.0,United Kingdom,348
17,536415,22775,PURPLE DRAWERKNOB ACRYLIC EDWARDIAN,1,1.25,12838.0,United Kingdom,415
18,536420,22115,METAL SIGN EMPIRE TEA,6,2.95,16583.0,United Kingdom,29
19,536446,21890,S/6 WOODEN SKITTLES IN COTTON BAG,2,2.95,15983.0,United Kingdom,124

### Задача 5

Выведите квантили 0.4 и 0.6 по численным данным новой таблицы там, где это имеет смысл.

**Решение:**

In [ ]:
df_merge[['Quantity', 'UnitPrice', 'CustomerID', 'TransactionNum']].quantile([0.4, 0.6])

     Quantity  UnitPrice  CustomerID  TransactionNum
0.4       2.0       1.95     16218.0           271.0
0.6       6.0       2.95     17850.0           361.0