# Pandas часть 1. Домашнее Задание. Light

*2 балла за каждую задачу*

*1 бонусный балл, если все задачи покрыты комментариями, которые описывают тактику решение задачи (до 10 баллов)*

In [ ]:
import pandas as pd

### Задача 1
*(2 балла)*

Загрузите базу температур любым удобным способом. Выведите базу. Посчитайте число пустых записей в столбце State.

Ссылка на скачивание базы: https://drive.google.com/file/d/1bLiz_81Kb4pMryEalRe66jS38_F6vwMX/view?usp=sharing

**Решение:**

In [ ]:
temp_data = pd.read_csv('city_temperature.csv')
temp_data.head(10)

<ipython-input-12-6e866149f3fb>:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_data = pd.read_csv('city_temperature.csv')

   Region  Country State     City  Month  Day    Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995.0            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995.0            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995.0            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995.0            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995.0            47.9
5  Africa  Algeria   NaN  Algiers      1    6  1995.0            48.7
6  Africa  Algeria   NaN  Algiers      1    7  1995.0            48.9
7  Africa  Algeria   NaN  Algiers      1    8  1995.0            49.1
8  Africa  Algeria   NaN  Algiers      1    9  1995.0            49.0
9  Africa  Algeria   NaN  Algiers      1   10  1995.0            51.9

In [ ]:
temp_data.State.isna().sum()

1450990

### Задача 2
*(2 балла)*

Заполните пустые данные в базе словом "No". Запишите результат в ту же переменную. Выведите ее на экран.

**Решение:**

In [ ]:
temp_data = temp_data.fillna('No')
temp_data

,Region,Country,State,City,Month,Day,Year,AvgTemperature
0,Africa,Algeria,No,Algiers,1,1,1995.0,64.2
1,Africa,Algeria,No,Algiers,1,2,1995.0,49.4
2,Africa,Algeria,No,Algiers,1,3,1995.0,48.8
3,Africa,Algeria,No,Algiers,1,4,1995.0,46.4
4,Africa,Algeria,No,Algiers,1,5,1995.0,47.9
...,...,...,...,...,...,...,...,...
2271024,North America,US,New Mexico,Albuquerque,11,13,2014.0,28.9
2271025,North America,US,New Mexico,Albuquerque,11,14,2014.0,40.6
2271026,North America,US,New Mexico,Albuquerque,11,15,2014.0,51.0
2271027,North America,US,New Mexico,Albuquerque,11,16,2014.0,46.1
2271028,North America,US,New Mexico,Albuquerque,11,17,No,No

### Задание 3
*(2 балла)*


При помощи метода Pandas определите число уникальных записей в столбцах Country, City, Year.

**Решение:**

In [ ]:
print(temp_data.Country.nunique())
print(temp_data.City.nunique())
print(temp_data.Year.nunique())

125
255
29

### Задача 4
*(2 балла)*

При помощи библиотеки Pandas выведите строки, где в столбце Country встречается страна Russia.

При помощи метода Pandas отдельно выведите число элементов в этой выборке.

**Решение:**

In [ ]:
temp_data[temp_data.Country == 'Russia'].head

<bound method NDFrame.head of         Region Country State     City  Month  Day    Year AvgTemperature
878256  Europe  Russia    No   Moscow      1    1  1995.0           32.3
878257  Europe  Russia    No   Moscow      1    2  1995.0           31.7
878258  Europe  Russia    No   Moscow      1    3  1995.0           26.8
878259  Europe  Russia    No   Moscow      1    4  1995.0           15.9
878260  Europe  Russia    No   Moscow      1    5  1995.0           23.8
...        ...     ...   ...      ...    ...  ...     ...            ...
890743  Europe  Russia    No  Yerevan     10   27  2003.0           53.3
890744  Europe  Russia    No  Yerevan     10   28  2003.0           51.9
890745  Europe  Russia    No  Yerevan     10   29  2003.0           54.3
890746  Europe  Russia    No  Yerevan     10   30  2003.0           44.3
890747  Europe  Russia    No  Yerevan     10   31  2003.0           40.1

[12492 rows x 8 columns]>

In [ ]:
temp_data[temp_data.Country == 'Russia'].size

99936

### Задача 5
*(2 балла)*

Создайте новый столбец температур, в котором будут записаны те же значения AvgTemperature, но в градусах Цельсия (исходная единица измерения - градусы Фаренгейта).

**Решение:**

In [ ]:
temp_data['AvgTemperatureCelsius'] = (temp_data.AvgTemperature - 32) / 1.8
temp_data.AvgTemperatureCelsius

TypeError: ignored