In [ ]:
def P(n): #(факторил)
  f =1
  for x in range(2,n+1):
    f*=x
  return f

# Сочетание
def C_n_m(n,m):
  return P(n)/ (P(n-m)* P(m))

# Размещение
def A_(n,m):
  return C_n_m(n,m) * P(m)

# Перестановка с повторением
def P_rep(n,m):
  add = 1
  for x in m:
    add*=P(x)
  return P(n)/ add

# Сочетание с повторением
def C_n_m_rep(n,m):
  return P(n+m-1)/ (P(n-1)* P(m))

# Размещение с повторением
def A_rep(n,m):
  return n**m

# Комбинаторика

###Задача 1

Сколько существует выигрышных комбинаций из двух карт при игре в 21 (Блекджек)? (выигрышными комбинациями считаются карта стоимостью 10 + туз. Валет, дама, король и десятка имеют одинаковую стоимость - 10)

In [ ]:
k_10 = C_n_m(4, 1) * 4
k_t = C_n_m(4, 1)
print(k_10 * k_t)

64.0

###Задача 2

У Олега дома живут пять котов.

а) Сколькими способами можно усадить четырех котов по углам комнаты?
б) Сколькими способами можно выпустить котов погулять?
в) Сколькими способами Вася может взять на руки двух котов (одного на левую, другого – на правую)?

In [ ]:
print('a) ', C_n_m(5, 4) * P(4))

a)  120.0

In [ ]:
print('б) ', C_n_m(5, 1) + C_n_m(5, 2) + C_n_m(5, 3) + C_n_m(5, 4) + C_n_m(5, 5))

б)  31.0

In [ ]:
print('в) ', A_(5, 2))

в)  20.0

###Задача 3

В лифт двенадцатиэтажного дома сели три пассажира. Каждый независимо от других с одинаковой вероятностью может выйти на любом (начиная со второго) этаже.
1) Сколькими способами пассажиры могут выйти на одном и том же этаже (порядок выхода не имеет значения)?
2) Сколькими способами два человека могут выйти на одном этаже, а третий – на другом?
3) Сколькими способами люди могут выйти на разных этажах?
4) Сколькими способами пассажиры могут выйти из лифта?

In [ ]:
print('1) ', 11)
print('2) ', C_n_m(11, 2) * A_(3, 2))
print('3) ', A_(11, 3))
print('4) ', A_(11, 1)**3)

1)  11
2)  330.0
3)  990.0
4)  1331.0

###Задача 4

В кошельке находятся  одно-, двух- и десятирублевые монеты. Сколькими способами можно извлечь 4 монеты из кошелька?

In [ ]:
C_n_m_rep(3, 4)

15.0

###Задача 5

Сколько всего существует вариантов IPv4 адресов (https://ru.wikipedia.org/wiki/IPv4) ?

In [ ]:
A_rep(256, 4)

4294967296

# Множества

###Задача 1

В классе 36 учеников. Каждый из них пользуется хотя бы одним из видов городского транспорта: метро, автобусом и троллейбусом. Всеми тремя видами транспорта пользуются 5 учеников, метро и автобусом – 17 учеников, метро и троллейбусом – 15 учеников, троллейбусом и автобусом – 7 учеников.

Сколько учеников пользуются только одним видом транспорта?

In [ ]:
# всего 36 учеников
# Т, А, М - 5 учеников
# М, А - 17 учеников
# М, Т - 15 учеников
# Т, А - 7 учеников
# только М и Т, но не А: 15-5 = 10
# только А и Т, но не М: 7-5 = 2
# только М и А, но не Т: 17-5 = 12
# тогда одним видом транспорта пользуются:
print(36-10-2-12-5, 'учеников')

7 учеников

###Задача 2

Первую или вторую контрольную работу по математике успешно написали 33 студента, первую или третью – 32 студента, вторую или третью – 31 студент. Не менее двух контрольных работ выполнили 20 студентов.

Сколько студентов успешно решили только одну контрольную работу?

In [ ]:
# A - первая контрольная
# B - вторая контрольная
# C - третья контрольная
# (A ^ B) U (B ^ C) U (A ^ C) = 20
# только вторую контрольную или только первую контрольную написали: 32-20 = 12
# только вторую контрольную или только третью контрольную написали: 31-20 = 11
# только первую контрольную или только третью контрольную написали: 33-20 = 13
# (12 + 11 + 13) / 2 = 18

###Задача 3
  Дано множество А={1, 2, 4}, существует множество B. Такое, что B\A = {3} и $A\cap B$ = {1}.

Найти множество B, если его мощность равна 2.

In [ ]:
# в А входит 1, 2, 4
# 1 входит и в А, и в В
# 3 входит в В, но не входит в А
# значит во множество В вхожит 1 и 3
# В = {1, 3}