### Задача 1

Напишите программу, которая просит пользователя ввести произвольную цифру от 1 до 9, а затем выводит таблицу умножения для введенного числа.

Добавьте проверку введенной пользователем информации:
* данные должны быть целочисленного типа
* число должно находиться в диапазоне от 1 до 9

In [ ]:
# Ваше решение
num = input('Введите число от 1 до 9: ')
try:
  num = int(num)
  if ((num > 1) and (num < 9)):
    for i in range(1, 10):
      print(f'{num} * {i} = {num*i}')
  else:
    print('Вы не соблюдаете условие')
except ValueError:
  print('Вы не соблюдаете условие')

Введите число от 1 до 9: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### Задача 2

Напишите программу, которая ищет все числа в интервале от 300 до 430 включительно, делящиеся на 11, но не делящиеся на 5. Выведите на экран все найденные числа.

In [ ]:
# Ваше решение
for i in range(300, 431):
  if (i % 11 == 0) and (i % 5 != 0):
    print(i)

308
319
341
352
363
374
396
407
418
429

### Задача 3

Напишите функцию, которая принимает один параметр (год) и определяет, является ли этот год високосным.

Напомним, что ***високосными*** годами считаются те, порядковый номер которых либо кратен **4**, но при этом не кратен **100**, либо кратен **400** (например, 2000-й год являлся високосным, а 2100-й будет не високосным годом).

Программа должна корректно работать на числах **1900 ≤ n ≤ 3000**.

Функция должна вывести на экран "Високосный" в случае, если год является високосным и "Обычный" в противном случае.

In [ ]:
# Ваше решение
def isLeapYear(year):
  if ((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0):
    print('Високосный')
  else:
    print('Обычный')

year = int(input('Введите год:'))
isLeapYear(year)

Обычный

### Задача 4

Создайте словарь (dict) c ключами, соответствующими числам от 1 до 10 включительно и значениями, соответствующими квадратам ключей.

In [ ]:
# Ваше решение
dictionary = {}
for i in range(1, 11):
  dictionary[i] = i ** 2
  print(f'Ключ: {i}, значение: {dictionary[i]}')

Ключ: 1, значение: 1
Ключ: 2, значение: 4
Ключ: 3, значение: 9
Ключ: 4, значение: 16
Ключ: 5, значение: 25
Ключ: 6, значение: 36
Ключ: 7, значение: 49
Ключ: 8, значение: 64
Ключ: 9, значение: 81
Ключ: 10, значение: 100

### Задача 5

Напишите функцию простейшего калькулятора. Пользователь вводит число **a**, число **b** и вид арифметической операции над ними. Функция возвращает результат вычисления.

In [ ]:
# Ваше решение
oper = int(input('Введите число желаемой операции, где: \n1 - сложение\n2 - вычитание\n3 - произведение\n4 - деление\n5 - возведение в степень\n'))
a = int(input('Введите первое число: '))
b = int(input('Введите второе число: '))
if oper == 1:
  print(f'{a} + {b} = {a+b}')
elif oper == 2:
  print(f'{a} - {b} = {a-b}')
elif oper == 3:
  print(f'{a} * {b} = {a*b}')
elif oper == 4:
  print(f'{a} / {b} = {a/b}')
else:
  print(f'{a} в степени {b} = {a ** b}')