<a href="https://colab.research.google.com/github/yulia-vitkovskaya/ML-DL-Data_Science/blob/Python-Syntax/%D0%A1%D0%B8%D0%BD%D1%82%D0%B0%D0%BA%D1%81%D0%B8%D1%81_Python_Ultra_Pro_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Задача 1

Используя все возможные известные методы, посчтитайте сумму чисел от 1 до 20 следующим способом:
1. Перебором параметра i в цикле for.
2. Перебором параметра i в цикле while.
3. При помощи специальной функции для созданного списка.
4. При помощи перебора элементов созданного списка в цикле for.
5. При помощи перебора элементов созданного списка в цикле while.

**Решение:**

In [ ]:
sum = 0
for i in range(1, 21):
  sum += i
print(sum)

210

### Задача 2

Используя циклы, напишите код, который создает список (list) путем конкатенации значений данного листа с целыми числами от 1 до (произвольного) n включительно.

Пример:

для списка ["сосиски", "горчица"] при n = 3 результат должен выглядеть так:

['сосиски$\_$1', 'горчица$\_$1', 'сосиски$\_2$', 'горчица$\_$2', 'сосиски$\_$3', 'горчица$\_$3']

In [ ]:
sample_list = ["мандаринки", "киви", "лимон"]

**Решение:**

In [ ]:
n = int(input('Введите n: '))
new_list = []
for el in sample_list:
  for i in range(1, n+1):
    new_el = el+f'_{i}'
    new_list.append(new_el)
print(new_list)

Введите n: 3
['мандаринки_1', 'мандаринки_2', 'мандаринки_3', 'киви_1', 'киви_2', 'киви_3', 'лимон_1', 'лимон_2', 'лимон_3']

### Задача 3

Напишите код, который считает количество элементов в заданном списке до тех пор, пока не встретится элемент типа словарь.

Пример:

для списка [3, "котики", 0.45, 5, {'котики' : 2, 'слоники' : 9}, "слоники", 34] на выходе должны получить число 4

In [ ]:
list_for_pro_task_2 = [35, 0.24, 3 + 4j, "котики", 0.45, (8, 9), "слоники", {"Мадрид": 3, 'Лондон':5}, 23498]
print(list_for_pro_task_2)

[35, 0.24, (3+4j), 'котики', 0.45, (8, 9), 'слоники', {'Мадрид': 3, 'Лондон': 5}, 23498]

**Решение:**

In [ ]:
num = 0
for el in list_for_pro_task_2:
  if type(el) != dict:
    num += 1
  else:
    break
print(num)

7

### Задача 4

Создайте словарь (dict) c ключами, соответствующими числам от 1 до 20 включительно и значениями, соответствующими квадратам ключей.

P.S. Используйте циклы или функции, прямое "ручное" присваивание не допускается!!!

Пример:

для чисел от 1 до 3 включительно словарь должен выглядеть так: {1 : 1, 2 : 4, 3 : 9}

**Решение:**

In [ ]:
dic = {a: a ** 2 for a in range(1, 21)}
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

### Задача 5

**Дана** следующая строка:

In [ ]:
string = '[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]'

Пройдя по символам строки, переведите строку в список. В результате должен получиться список из целых чисел.

In [ ]:
string = '[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]'

string = string[1:-1]
new_list = string.split(', ')
print(new_list)

['0', '1', '1', '2', '3', '5', '8', '13', '21', '34', '55', '89', '144', '233', '377']